

/* START */
/* Book Highlights/Recommendations (Maryam) */
.category h1{
  font-family: Georgia;
  font-size: 1.25rem;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  color: #4B4350;
  margin: 1rem;
}

.category p{
  font-family: Montserrat;
  font-size: .75rem;
  text-align: right;
/*  float right? somehow. Breaks. Fix.  */
  margin: -2rem 0rem 1rem 30rem;
  width: 50%;
}

.books-3 img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.books-3 .book-info{
  text-align: center;
}

.rating .stars{
  font-size: 150%;
  color: #C79865;
}
/* Book Highlights/Recommendations (Maryam) */
/* END */

/* START */
/* "Join Our Community" sign up banner (Taylor) */
.w-checkbox {
  display: block;
  margin-bottom: 5px;
  padding-left: 20px;
}

.w-checkbox::before {
  content: ' ';
  display: table;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

.w-checkbox::after {
  content: ' ';
  display: table;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  clear: both;
}

.w-checkbox-input {
  float: left;
  margin-bottom: 0px;
  margin-left: -20px;
  margin-right: 0px;
  margin-top: 4px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-color: #ccc;
  border-bottom-color: #ccc;
  border-left-color: #ccc;
  border-right-color: #ccc;
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  width: 12px;
  height: 12px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  border-top-color: #3898ec;
  border-bottom-color: #3898ec;
  border-left-color: #3898ec;
  border-right-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0px 0px 3px 1px #3898ec;
}

.div-block {
  width: 100%;
  height: 200px;
  background-color: #d1dbd6;
}

.heading {
  position: relative;
  left: 17.01%;
  top: 20px;
  width: 33.977726%;
  font-family: Georgia, Times, 'Times New Roman', serif;
  color: #4b4350;
  font-size: 25px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
}

.body {
  background-color: rgba(209, 219, 214, 0);
}

.text-block {
  position: relative;
  /* left: 17.01%; */
  top: 100px;
  bottom: auto;
  font-family: Montserrat, sans-serif;
  color: #4b4350;
  line-height: 17px;
  font-weight: 300;
}

.subscribe-form {
  padding-top: 100px;
  padding-bottom: 100px;
}

.centered-container {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
}

.subscribe-form-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.subscribe-form-input-wrapper {
  text-align: left;
}

.subscribe-form-input {
  margin-bottom: 0px;
}

.text-field {
  position: absolute;
  left: 820px;
  top: 83px;
  right: auto;
  width: 420px;
  height: 42px;
  margin-top: 0px;
  margin-left: 0px;
  border-style: solid;
  border-width: 1px;
  border-color: #c79865;
  line-height: 26px;
}

.field-label {
  width: 50px;
  margin-left: 687px;
  font-family: Montserrat, sans-serif;
  color: #4b4350;
  font-weight: 300;
}

.field-label.email {
  position: relative;
  left: 820px;
  top: 36px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  line-height: 17px;
}

.submit-button {
  position: absolute;
  left: 1239px;
  top: 83px;
  width: 110px;
  height: 42px;
  margin-top: 0px;
  margin-left: 0px;
  background-color: #c79865;
  font-family: Montserrat, sans-serif;
  line-height: 17px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}

.form-block {
  position: absolute;
}

.checkbox-label {
  position: relative;
  left: 809px;
  top: 133px;
  margin-bottom: 0px;
  float: none;
  clear: none;
  font-family: Montserrat, sans-serif;
  color: #000;
  line-height: 17px;
  font-weight: 300;
  -o-object-fit: fill;
  object-fit: fill;
}

.checkbox {
  position: relative;
  left: 801px;
  top: 130px;
  width: 18px;
  height: 18px;
  margin-left: 0px;
  border-style: solid;
  border-width: 1px;
  border-color: #c79865;
  border-radius: 0px;
  background-color: #fff;
  font-size: 12px;
  line-height: 1.2;
}

.text-span {
  color: #c79865;
  font-weight: 600;
}

.text-span-2 {
  color: #c79865;
  font-weight: 600;
}

.form {
  position: relative;
}

@media screen and (max-width: 767px) {
  .subscribe-form {
    padding: 40px 20px;
  }
}

@media screen and (max-width: 479px) {
  .centered-container {
    text-align: left;
  }
  .subscribe-form-input-wrapper {
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .subscribe-form-input {
    width: 100%;
  }
}

/* "Join Our Community" sign up banner (Taylor) */
/* END */